body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}
.container {
    background-color: #ffffff;
    border: 1px solid black;
    margin: auto;
    padding:10px;
    position: fixed;
    height: 428px;
    width:1302px;
    top:  10px;
    left: 10px;
    right: 10px;
    bottom:10px;
}


.wrapper {
   display: flex;
   
   
}

.colorbuttons {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;

}


#top {
    padding:20px 10px 20px 40px;
    background-color: #32A852;
    text-align: left;
}
.welcome {
    color: #ffffff;
}

.menuitem {
    border: 1px solid #696969;
    border-radius:3px;
    list-style:none;
    width: 15.0em;
    background-color: #D3D3D3;
    padding: 5px;
    margin:0px 30px 2px -39px;

}


.selected {
    background-color: #32A852;
}


#menubar {
    flex:1;
    margin-top:18px;
}

#main{
    
}

#greenbutton {
    border: 1px solid #008000;
    background-color: #008000;
}

#orangebutton  {
    border: 1px solid #FFA500;  
    background-color: #FFA500;
}

#bluebutton  {
    border: 1px solid #0000ff; 
    background-color: #0000ff;
}

#redbutton {
 border: 1px solid #ff0000; 
 background-color: #ff0000;
}

#bottom {
    border: 1px solid #A9A9A9;
    padding: 20px;
    background-color: #DCDCDC;
    text-align: center;
    margin-top:20px
}

.menuitem{
   height:11%;
}