				
body{
	font: 20px Verdana, Ringside Regular A;
	background: #B35504;
	letter-spacing: 3px;
}


header{
	font: 1.1em Ringside Regular A, Verdana , sans-serif;
	text-align: left;
	height: 129px;
	background-color: #B35504;
}

header > h1{
	margin: 6px 0px -15px 0px;
	color: #fff;
	text-align: center;
	font-size: 80px;
}

.introduction{
	background-image: url(../images/food2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background: cover;

	flex:1;
	flex-basis: 100%;
}

.intro-container{
	display: flex;
	height: 700px;
}


.introduction > h1{
	border-top: solid;
	border-bottom: solid;
	border-color: #B35504;
	border-top-width: 15px;
	border-bottom-width: 15px;
	background: #883000;
	text-align: center;
	color: #fff;
	position: relative;
	top: 100px;
}




.menubar{
	width: 100%;
	display: flex;
	list-style: none;
	padding: 30px;
	position: relative;
	right: 31px;
	height:40px;
}


.menulist{
	background-color: #EB9605;
	font-weight: bold;
	position: relative!important;
	bottom: 42px;
	padding: 6.2px;

}

#home{
	flex:1 ;
	text-align: center;
}
#register{
	flex: 1;
	text-align: center;
}
#about{
	flex: 1;
	text-align: center;
}
#login{
	flex: 3;
	text-align: right;
	padding-right: 3.0em;
}
#login:hover{
	background: #EB9605;
}


a{	
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #883000;
}

.global-container{
	margin: auto;
	width: 80%;
}

.main-container{
	display: flex;

}

.container{
	flex-basis: 60%;
	display: flex;
	flex-flow: column;
	padding: 5px;
	justify-content: space-between;
}
.container-2{
	flex-basis: 60%;
	padding: 5px;
	height: 700px;
	flex-flow: column;
	display: flex;

}

.article-1{
	margin-top: 10px;
	border: 1px solid #FF0000;
	background-color: #F79862;
	padding: 30px;
	height: 100%;
	border-radius: 20px;

}

.section-1{
	border: 1px solid red;
	background-color: #F79862;
	padding: 30px;	
	height:100%;
	border-radius: 20px;
}

.sidebar{
	padding: 30px;
	border-radius: 20px;
	border: 1px solid red;
	background-color: #F79862;;
}


.bottom{
	width: 100%;
}
#main-footer{
	text-align: left;
	color: #fff;
}
